header{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   background: rgb(0, 255, 200);
}
h1{
    font-size: 30px;
    font-weight: 900px;
    color: blue;
    margin-left: 5px;
    padding-left: 10px;
}
.menu{
    width: 25px;
    height: 4px;
    background: rgb(0, 255, 200);
    margin: 2px;
}
.h2{
    width: 64%;
    height: 40%;
    margin: 0%;
    color:white;
}
p{
    color: azure;
    background-color: black;
    padding: 5px;
}
#sect1{
    border: 1px solid red;
    background-image: url('/image/b.jpg');
    border-radius: 30px;
}
.Hen{
    color: white;
}