header{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   background: rgb(0, 255, 200);
}
h1{
    font-size: 24px;
    font-weight: 900;
    color: black;
}
.menu{
    width: 25px;
    height: 4px;
    background: rgb(0, 255, 200);
    margin: 2px;
}
.h2{
    width: 64%;
    height: 40%;
    margin: 0%;
}
p{
    color: azure;
    background-color: black;
    padding: 5px;
}
#sect1{
    
}